@CHARSET "ISO-8859-1";
body { 
background: url(flower/baskbg.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.btnns
{
	margin-top:5cm;
	margin-left:6cm;
}
table
{
	
    margin-left: 3.5cm;
border-collapse: separate;
    border-spacing: 10px ;
}
.m
{
	margin-left: 14cm;
}