@CHARSET "ISO-8859-1";

body { 
background: url(flower/10.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}